.App {
  text-align: center;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 40px solid #afafaf;
  border-radius: 2px;
  transform: scale(0.9);
  transition: all ease 300ms;
}

.triangle-up-active {
  border-bottom: 40px solid#5ac37e;
  transform: scale(1);
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #afafaf;
  transform: scale(0.9);
  transition: all ease 300ms;
}

.triangle-down-active {
  border-top: 40px solid#5ac37e;
  transform: scale(1);
}

.elv-item {
  border-radius: 15px;
  margin: 10px;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.elv-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #eee;
  margin-top: 30px;
}

.con-area {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  padding-left: 5px;
  padding-right: 5px;
  flex-wrap: wrap;
  max-width: 50%;
}

.con-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: width 2s;
}

.text-green {
  color: #5ac37e;
}

html,
body {
  background: #eee;
}

div.con-item:hover {
  transform: scale(1.5);
  transition: all ease 500ms;
  color: #5ac37e;
}

div.con-item:active {
  color: #282c34;
}
